
.rewie-button {
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    margin: 50px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #FFE400;
    color: #FFE400;
    transition: .4s;
  }
  .rewie-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .rewie-button:hover:after {
    border-width: 10px;
    border-color: #FFE400;
    width: calc(80% - 10px);
    height: calc(80% + 10px);
  }

  .app-button {
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    margin: 50px 20px;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #14A76C;
    color: #14A76C;
    transition: .4s;
  }
  .app-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .app-button:hover:after {
      border-width: 10px;
    border-color: #14A76C;
    width: calc(80% - 10px);
    height: calc(80% + 10px);
  }


  .body-box{
    position: relative;
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #272727 50%, #313131 50%);
      display: flex;
      flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

  .outer-div{
    height: 120px;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
  }

.inner-div{
  height: 120px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.img-box{
    justify-content: center;
}

.nikita_img{
  width: 438px;
  height: 558px;
    border-radius: 10px;
}


.content {
  height:100%;
}
.outer-div .outer-div {
  width:50%;
  float:left;
}
.outer-div .inner-div {
  width:50%;
  float:right;
}
