.to-center{
    display: flex;
    text-align: center;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    padding:  25px 25px 25px 25px;
    background-color: #474B4F ;
    margin-bottom: 200px;
    font-size: 85px;
    font-family: 'Poppins', sans-serif;
}

.score-div{
    display: flex;
    text-align: center;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    padding:  25px 25px 25px 25px;
    background-color: #474B4F  ;
    margin-bottom: 50px;
    font-size: 85px;
    font-family: 'Poppins', sans-serif;
}

#score{
    margin-left: 25px;
}

.body-box{
    color: white;
    background-color: #222629   ;
}

.numpad-box{
    margin-left: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 50px;
    padding:  25px 25px 25px 25px;
    background-color: #474B4F ;
}

#task-box{
    margin-right: 20px;
}

.number{
    
    width: 150px;
    font-family: 'Poppins', sans-serif;
    background-color: #86C232  ;
    border-color: white ;
    border-width:   0px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 100px;
}

.numpad-part-box{
    margin-top: 15px;
    margin-bottom: 25px;
}

.delete{
    width: 410px;
    font-family: 'Poppins', sans-serif;
    background-color: #61892F;
    border-color: white ;
    border-width:   0px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 100px;
}

.enter{
    width: 410px;
    font-family: 'Poppins', sans-serif;
    background-color: #61892F;
    border-color: white ;
    border-width:   0px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 100px;
}

#minus{
    width: 850px;
    font-family: 'Poppins', sans-serif;
    background-color: #61892F;
    border-color: white ;
    border-width:   0px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 100px;
}
