.to-center{
    display: flex;
    text-align: center;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    padding:  25px 25px 25px 25px;
    background-color: #29648A;
    margin-bottom: 500px;
    font-size: 85px;
    font-family: 'Poppins', sans-serif;
}

.score-div{
    display: flex;
    text-align: center;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    padding:  25px 25px 25px 25px;
    background-color: #DA7B93 ;
    margin-bottom: 50px;
    font-size: 85px;
    font-family: 'Poppins', sans-serif;
}

#score{
    margin-left: 25px;
}

.body-box{
    background-color: #25274D;
}

.numpad-box{
    margin-left: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    padding:  25px 25px 25px 25px;
    background-color: #29648A;
}

#task-box{
    margin-right: 20px;
}

.number{
    width: 150px;
    font-family: 'Poppins', sans-serif;
    background-color: #2E9CCA ;
    border-color: white ;
    border-width:   5px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 100px;
}

.numpad-part-box{
    margin-top: 15px;
    margin-bottom: 25px;
}

.delete{
    width: 410px;
    font-family: 'Poppins', sans-serif;
    background-color: #FF652F   ;
    border-color: white ;
    border-width:   5px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 100px;
}

.enter{
    width: 410px;
    font-family: 'Poppins', sans-serif;
    background-color: #14A76C  ;
    border-color: white ;
    border-width:   5px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 100px;
}

#minus{
    width: 850px;
    font-family: 'Poppins', sans-serif;
    background-color: #747474;
    border-color: white ;
    border-width:   5px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 100px;
}